

.form-newCity{
    background-color: #3E78B2;
     min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-body{
    background-color: white;
    width: 25rem;
    height: 40rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.form-body h2{
    text-align: center;
}

.submit12{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.ParteSuperiorNew{
    
width: 100%;
height: 30rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 2cm;
background-color: #3E78B2;
}