:root {
    --lighter: #FFFFFF;
    --main: #3E78B2;
    --expression: #004BA8;
    --strong: #4A525A;
    --live: #07070A;
  }
.tittle-profile{
    display: flex;
    justify-content: center;
}

.container-profilepage{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3 rem;
    background-color: var(--main);
}
.img-profile img{
    width: 300px;
}
.information-container12{
    gap: 2 rem;
}
.information-container12 button{
    padding: 10px;
}
.card-profilecontainer{
    background-color: var(--lighter);
    border-radius: 3px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}