.CitiesMod{
    
    width: 100%;
    min-height: 100vh;
    
}


.FiltrosDis{
    background-color: #3E78B2;
  width: 100%;
  display: flex;
  
  
  
  
}
.FiltrosDis input{
    width: 20px;
}


.ContenedorCards{
    background-color: #3E78B2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}


.ContenedorDeFiltros{
    background-color: #3E78B2;
    
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

}

.ContenedorDeFiltros h2{
    
    height: 10rem;
    font-size: 1cm;
    
}

#site-search{

    width: 100%;
    height: 3rem;
font-size: larger ;
}


.Searchbar-filtro2{
height: 3rem;

}
@media screen and (max-width:704px){
    .FiltrosDis{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        

    }
    

   
}
@media screen and (max-width:388px){
    .tilte-cities{
        margin-top: 350px;
    }
    
   
}