.CardhotelsDetailsa142421{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: x-large;
    text-align: center;
}


.ProbamosaVerEsto123123{
    
    display: flex;
    border: 1px solid red;
}


.CajaContenedoraDeREACIONTS123{
    
    display: flex;

}