.FotoPresentacionPeque{
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.FotoPresentacionPeque img{
    height: 100px;
    width: 100px;
}



.eventoreaction{
    
    height: 25rem;
}




.FotoGrandePresentacion{
    
    height: 100px;
    width: 100px;
}
