:root {
    --lighter: #FFFFFF;
    --main: #3E78B2;
    --expression: #004BA8;
    --strong: #4A525A;
    --live: #07070A;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.back-home{
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: var(--main);
    color: var(--lighter);
}