.card-container123{
    height: 26rem;
    width: 20rem;
    background-color: #004BA8;
    margin: 15px;
}

.card-container123 img{
    height: 150px;
    width: 100%;
}

.text-card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

.botoncito12321{
   
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.more{
    height: 50px;
    width: 70px;
}