.hotel-card66{
    width: 10rem;
    height: fit-content;
    background-color: blanchedalmond;
}
.hotel-card66 img{
    height: 50px;
    width: fit-content;
}
.text-card3434{
    font-size: smaller;
}