.hotel-card66{
    width: 30rem;
    height: 40rem;
    margin: 15px;
    background-color: #004BA8;
    font-size: x-large;
    text-align: center;
    
}
.hotel-card66 img{
    height: 10rem;
    width: 15rem;
    
}
.text-card3434{
    font-size: smaller;
}

.botonesfinales23123123 button{
    height: 55px;
    width: 100px;
    font-size: x-large;
    
}