.CONTENEDOR-PRINCIPAL23{
    min-height: 100vh;
    background: url(https://4kwallpapers.com/images/wallpapers/light-show-purple-light-geometrical-illusion-pattern-1920x1200-7038.jpg);
    background-repeat: initial;
    background-size: cover;
}
.hotel-cardcontaine33{
    border: solid 4px;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shows1234{
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2cm;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder ;
}