*{
    margin: 0;
    box-sizing: 0;
}

:root {
  --lighter: #FFFFFF;
  --main: #3E78B2;
  --expression: #004BA8;
  --strong: #4A525A;
  --live: #07070A;
}


/*   UNCLICKED    

.burger-bar.unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

*/


.Navbar2{
    
    background-image: url(https://www.xtrafondos.com/descargar.php?id=6552&resolucion=3840x2400);
    background-size: cover;
    background-position:center;
    background-repeat: initial;
    color: white;
  
    display: flex;
}

.Prueba12312321312{
    
    display: flex;
    width: 100%;
    flex-direction: row;
}



