:root {
    --lighter: #FFFFFF;
    --main: #3E78B2;
    --expression: #004BA8;
    --strong: #4A525A;
    --live: #07070A;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .Carousel{
    display: flex;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    
  }
  .FlechaCarousel img{
    display: flex;
    width: 30px;
    justify-content: center;
    margin: 10px;
  }
  .CardConteinerC1{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .CardConteinerC2{
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
  }
  .ContaineCaouselGral{
    display: flex;
    flex-direction: column;
  }