.SearchBarHotels213{
    height: 3rem;
    width: 30rem;
    gap: 2rem;
    font-size: xx-large
}


.SelectHotels1234{
    height: 3rem;
    width: 10rem;
    margin-left: 16px;
    margin-bottom: 15px;
    font-size: x-large;
}