.CONTENEDOR-PADRRES123213213123123{
    background: url(https://p4.wallpaperbetter.com/wallpaper/524/230/420/4k-road-trip-countryside-wallpaper-preview.jpg);
    min-height: 100vh;
    background-repeat: initial;
    background-size: cover;
}

.cities-container12321421421214{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2cm;
    min-height: 100vh;
}


.cards-container12321321321321{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    
    
}


.Mytinerary123124214{
    
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2cm;
    
}