:root {
  --lighter: #FFFFFF;
  --main: #3E78B2;
  --expression: #004BA8;
  --strong: #4A525A;
  --live: #07070A;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.TitleH2Container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--strong);
  height: 10vh;
  color: var(--lighter);
}